
/* 1. Basic */
html {
    margin-right: 0!important;
}

body {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Poppins', helvetica;
    font-size: 15px;
    color: #898989;
    background: #ffffff;
    line-height: 20px;
    letter-spacing: 0.02em;
    font-weight: 300;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.clear {
    clear: both;
}

.nicescroll-rails {
    z-index: 21 !important;
}

/* 2. Container */
.container {
    position: relative;
}

.fw {
    margin: 0 auto;
    position: relative;
    max-width: 1160px;
}

@media (max-width: 1079px) {
    .fw {
        padding: 0 5%;
        max-width: 100%;
    }

}

/* 3. Columns */
.row {
    margin: 0 -20px;
    padding: 0 0 40px 0;
    position: relative;
}

.row:last-child {
    padding: 0;
}

.row .col {
    padding: 0 20px;
}

@media (min-width: 1080px) {
    .row .col.col-d-12,
    .row .col.col-d-11,
    .row .col.col-d-10,
    .row .col.col-d-9,
    .row .col.col-d-8,
    .row .col.col-d-7,
    .row .col.col-d-6,
    .row .col.col-d-5,
    .row .col.col-d-4,
    .row .col.col-d-3,
    .row .col.col-d-2,
    .row .col.col-d-1 {
        float: left;
    }

    .row .col.col-d-12 {
        width: 99.996%;
    }

    .row .col.col-d-11 {
        width: 91.663%;
    }

    .row .col.col-d-10 {
        width: 83.333%;
    }

    .row .col.col-d-9 {
        width: 74.997%;
    }

    .row .col.col-d-8 {
        width: 66.664%;
    }

    .row .col.col-d-7 {
        width: 58.331%;
    }

    .row .col.col-d-6 {
        width: 49.998%;
    }

    .row .col.col-d-5 {
        width: 41.665%;
    }

    .row .col.col-d-4 {
        width: 33.332%;
    }

    .row .col.col-d-3 {
        width: 24.999%;
    }

    .row .col.col-d-2 {
        width: 16.666%;
    }

    .row .col.col-d-1 {
        width: 8.333%;
    }

}

@media (max-width: 1079px) {
    .row .col.col-t-12,
    .row .col.col-t-11,
    .row .col.col-t-10,
    .row .col.col-t-9,
    .row .col.col-t-8,
    .row .col.col-t-7,
    .row .col.col-t-6,
    .row .col.col-t-5,
    .row .col.col-t-4,
    .row .col.col-t-3,
    .row .col.col-t-2,
    .row .col.col-t-1 {
        float: left;
    }

    .row .col.col-t-12 {
        width: 99.996%;
    }

    .row .col.col-t-11 {
        width: 91.663%;
    }

    .row .col.col-t-10 {
        width: 83.333%;
    }

    .row .col.col-t-9 {
        width: 74.997%;
    }

    .row .col.col-t-8 {
        width: 66.664%;
    }

    .row .col.col-t-7 {
        width: 58.331%;
    }

    .row .col.col-t-6 {
        width: 49.998%;
    }

    .row .col.col-t-5 {
        width: 41.665%;
    }

    .row .col.col-t-4 {
        width: 33.332%;
    }

    .row .col.col-t-3 {
        width: 24.999%;
    }

    .row .col.col-t-2 {
        width: 16.666%;
    }

    .row .col.col-t-1 {
        width: 8.333%;
    }

}

@media (max-width: 720px) {
    .row .col.col-m-12,
    .row .col.col-m-11,
    .row .col.col-m-10,
    .row .col.col-m-9,
    .row .col.col-m-8,
    .row .col.col-m-7,
    .row .col.col-m-6,
    .row .col.col-m-5,
    .row .col.col-m-4,
    .row .col.col-m-3,
    .row .col.col-m-2,
    .row .col.col-m-1 {
        float: left;
    }

    .row .col.col-m-12 {
        width: 99.996%;
    }

    .row .col.col-m-11 {
        width: 91.663%;
    }

    .row .col.col-m-10 {
        width: 83.333%;
    }

    .row .col.col-m-9 {
        width: 74.997%;
    }

    .row .col.col-m-8 {
        width: 66.664%;
    }

    .row .col.col-m-7 {
        width: 58.331%;
    }

    .row .col.col-m-6 {
        width: 49.998%;
    }

    .row .col.col-m-5 {
        width: 41.665%;
    }

    .row .col.col-m-4 {
        width: 33.332%;
    }

    .row .col.col-m-3 {
        width: 24.999%;
    }

    .row .col.col-m-2 {
        width: 16.666%;
    }

    .row .col.col-m-1 {
        width: 8.333%;
    }

}

.row:after {
    content: '';
    display: block;
    clear: both;
}

/* 4. Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 28px 0;
    font-weight: 400;
    font-family: 'Kaushan Script', helvetica;
    color: #292929;
}

@media (max-width: 1079px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 0 28px 0;
    }

}

h1 {
    font-size: 44px;
    line-height: 56px;
}

@media (max-width: 1079px) {
    h1 {
        font-size: 34px;
        line-height: 44px;
    }

}

h2 {
    font-size: 38px;
    line-height: 50px;
}

@media (max-width: 1079px) {
    h2 {
        font-size: 28px;
        line-height: 38px;
    }

}

h3 {
    font-size: 34px;
    line-height: 46px;
}

@media (max-width: 1079px) {
    h3 {
        font-size: 24px;
        line-height: 34px;
    }

}

h4 {
    font-size: 30px;
    line-height: 42px;
}

@media (max-width: 1079px) {
    h4 {
        font-size: 22px;
        line-height: 30px;
    }

}

h5 {
    font-size: 26px;
    line-height: 38px;
}

@media (max-width: 1079px) {
    h5 {
        font-size: 18px;
        line-height: 26px;
    }

}

h6 {
    font-size: 22px;
    line-height: 34px;
}

@media (max-width: 1079px) {
    h6 {
        font-size: 14px;
        line-height: 22px;
    }

}

p {
    margin: 25px 0;
    padding: 0;
    font-size: 15px;
    color: #999999;
    line-height: 28px;
}

@media (max-width: 1079px) {
    p {
        font-size: 12px;
        line-height: 24px;
    }

}

strong {
    font-weight: 500;
    color: #292929;
}

/* 5. Links */
a {
    color: #292929;
    text-decoration: none;
    opacity: 1;
    outline: none;
}

a:hover {
    text-decoration: none;
}

/* 6. Buttons */
a.btn,
.btn {
    padding: 2px 0 0 0;
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    color: #292929;
    letter-spacing: 0.2em;
    font-weight: 500;
    line-height: 12px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: inset 0 -6px 0 #78af48;
    -moz-box-shadow: inset 0 -6px 0 #78af48;
    -webkit-box-shadow: inset 0 -6px 0 #78af48;
    -khtml-box-shadow: inset 0 -6px 0 #78af48;
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

a.btn:hover,
.btn:hover {
    box-shadow: inset 0 -14px 0 #78af48;
    -moz-box-shadow: inset 0 -14px 0 #78af48;
    -webkit-box-shadow: inset 0 -14px 0 #78af48;
    -khtml-box-shadow: inset 0 -14px 0 #78af48;
}

/* 7. Preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: #ffffff;
    z-index: 1000;
}

.preloader .spinner {
    width: 40px;
    height: 40px;
    display: inline-block;
    position: relative;
}

.preloader .spinner .double-bounce1,
.preloader .spinner .double-bounce2 {
    width: 100%;
    height: 100%;
    background: #78af48;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2s infinite ease-in-out;
    animation: sk-bounce 2s infinite ease-in-out;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
}

.preloader .spinner .double-bounce2 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

/* 8. Forms */
input,
textarea,
button {
    margin: 0 0 25px 0;
    padding: 0;
    display: block;
    width: 100%;
    height: 48px;
    font-size: 13px;
    color: #292929;
    letter-spacing: -0.045em;
    font-weight: 500;
    -webkit-appearance: none;
    -moz-appearance: none;
    resize: none;
    outline: 0;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
}

input:focus,
textarea:focus,
button:focus {
    color: #292929;
    border-bottom: 1px solid #292929;
}

textarea {
    margin: 0 0 35px 0;
    padding: 20px 0;
    height: 120px;
}

button {
    width: auto;
    display: inline-block;
    vertical-align: top;
    border: none;
    cursor: pointer;
}

label,
legend {
    display: block;
    padding-bottom: 10px;
    font-family: 'Poppins', helvetica;
    font-size: 15px;
}

fieldset {
    border-width: 0;
    padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}

::-webkit-input-placeholder {
    color: #898989;
}

:-moz-placeholder {
    color: #898989;
}

::-moz-placeholder {
    color: #898989;
}

:-ms-input-placeholder {
    color: #898989;
}

input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
    color: #292929;
}

input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
    color: #292929;
}

input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
    color: #292929;
}

input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
    color: #292929;
}

label.error {
    display: none!important;
}

input.error::-moz-placeholder,
textarea.error::-moz-placeholder {
    color: #ff0000;
}

input.error:-moz-placeholder,
textarea.error:-moz-placeholder {
    color: #ff0000;
}

input.error:-ms-input-placeholder,
textarea.error:-ms-input-placeholder {
    color: #ff0000;
}

input.error::-webkit-input-placeholder,
textarea.error::-webkit-input-placeholder {
    color: #ff0000;
}

/* 9. Lists */
ol,
ul {
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;

padding-left: 0px;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin-bottom: 0px;
}

li {
    margin-bottom: 0px;
}

/* 10. Code */
code {
    background: #f9f9f9;
    font-size: 16px;
    font-family: 'Poppins', helvetica;
    margin: 20px 0;
    padding: 10px 20px;
}

/* 11. Tables */
table {
    width: 100%;
    margin: 30px 0;
    padding: 0;
    border-collapse: collapse;
}

th {
    font-weight: 500;
    border: none;
    border-bottom: 1px solid #f9f9f9;
    color: #292929;
    padding: 12px 15px;
    text-align: left;
}

td {
    border: none;
    border-bottom: 1px solid #f9f9f9;
    padding: 12px 15px;
    text-align: left;
    color: #898989;
}

/* 12. Alignment */
.align-center {
    text-align: center !important;
}

.align-right {
    text-align: right !important;
}

.align-left {
    text-align: left !important;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.pull-none {
    float: none !important;
}

.full-width {
    max-width: 100% !important;
    width: 100% !important;
}

.full-max-width {
    max-width: 100% !important;
    width: auto !important;
}

.centrize {
    display: table !important;
    table-layout: fixed !important;
    height: 100% !important;
    position: relative !important;
}

.vertical-center {
    display: table-cell !important;
    vertical-align: middle !important;
}

/* 13. Text Formating */
.text-uppercase {
    text-transform: uppercase !important;
}

.text-lowercase {
    text-transform: lowercase !important;
}

.text-capitalize {
    text-transform: capitalize !important;
}

.text-regular {
    font-weight: 400 !important;
}

.text-bold {
    font-weight: 700 !important;
}

.text-italic {
    font-style: italic !important;
}

/* 14. Blockquote */
blockquote {
    font-family: 'Poppins', helvetica;
}

/* 15. Animations */
/* Mouse Button */
@keyframes mouse-anim {
    0% {
        top: 0px;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 0px;
    }

}
