::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
  display: none;
}
::-webkit-scrollbar-track-piece  {
  background-color: rgba(221, 221, 221, 0.6);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical {
  background-color: skyblue;
  border-radius: 6px;
}
::selection{
	text-decoration:none;
	background-color: skyblue;
}
.navbar-default {
    background-color: #FFF;
    border-color: #CCC;
}
.navbar {
	background:#111;
}
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
    }
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: skyblue;
    color: #fff;
}

#main-slider {
  position: relative;
  margin-top:90px;
}
@media(max-width:767px) {
#main-slider {
  margin-top:50px;
}
}
#main-slider .carousel h2 {
  font-size: 72px;
  line-height:60px;
  color:#FFF;
  text-transform:uppercase;
  margin-top:20%;
  font-weight:700;
  padding-left:0;
}
#main-slider .carousel p {
  font-size: 24px;
  line-height:24px;
  color:#FFF;
  text-transform:uppercase;
  font-weight:400;
  padding-left:0;
}
#main-slider .carousel .btn {
  color: #fff;
  border-radius: 0;
  margin-top: 5px;
}
#main-slider .carousel .btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#main-slider .carousel .boxed {
  padding: 10px 15px;
  background-color: rgba(0, 0, 0, 0.8);
  display: inline-block;
}
#main-slider .carousel .item {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0 !important;
  opacity: 0;
  top: 0;
  position: absolute;
  width: 100%;
  display: block !important;
  height: 600px;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
}
#main-slider .carousel .item:first-child {
  top: auto;
  position: relative;
}
#main-slider .carousel .item.active {
  opacity: 1;
  -webkit-transition: opacity ease-in-out 500ms;
  -moz-transition: opacity ease-in-out 500ms;
  -o-transition: opacity ease-in-out 500ms;
  transition: opacity ease-in-out 500ms;
  z-index: 1;
}
#main-slider .prev,
#main-slider .next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  display: inline-block;
  margin-top: -25px;
  font-size: 24px;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  z-index: 5;
  outline: 0;
}
#main-slider .prev:hover,
#main-slider .next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}
#main-slider .prev {
  left: 10px;
}
#main-slider .next {
  right: 10px;
}
#main-slider .active .animation.animated-item-1 {
  -webkit-animation: fadeInUp 300ms linear 300ms both;
  -moz-animation: fadeInUp 300ms linear 300ms both;
  -o-animation: fadeInUp 300ms linear 300ms both;
  -ms-animation: fadeInUp 300ms linear 300ms both;
  animation: fadeInUp 300ms linear 300ms both;
}
#main-slider .active .animation.animated-item-2 {
  -webkit-animation: fadeInUp 300ms linear 600ms both;
  -moz-animation: fadeInUp 300ms linear 600ms both;
  -o-animation: fadeInUp 300ms linear 600ms both;
  -ms-animation: fadeInUp 300ms linear 600ms both;
  animation: fadeInUp 300ms linear 600ms both;
}
#main-slider .active .animation.animated-item-3 {
  -webkit-animation: fadeInUp 300ms linear 900ms both;
  -moz-animation: fadeInUp 300ms linear 900ms both;
  -o-animation: fadeInUp 300ms linear 900ms both;
  -ms-animation: fadeInUp 300ms linear 900ms both;
  animation: fadeInUp 300ms linear 900ms both;
}
#main-slider .active .animation.animated-item-4 {
  -webkit-animation: fadeInUp 300ms linear 1200ms both;
  -moz-animation: fadeInUp 300ms linear 1200ms both;
  -o-animation: fadeInUp 300ms linear 1200ms both;
  -ms-animation: fadeInUp 300ms linear 1200ms both;
  animation: fadeInUp 300ms linear 1200ms both;
}

@media(max-width:767px) {
	#main-slider .carousel h2 {
	  font-size: 42px;
	  line-height:36px;
	  color:#FFF;
	  text-transform:uppercase;
	  margin-top:30%;
	  font-weight:700;
	  padding-left:0;
	}
}




/* Section Title */
.section-title h1{
	font-size:48px;
	text-transform:uppercase;
	font-weight:700;
	margin-bottom:50px;
}

.section-title h1:before{
	content: url(../img/title-before.png);
	display:block;
	float:left;
}

@media(max-width:767px) {
.section-title h1{
	font-size:32px;
	text-transform:uppercase;
	font-weight:700;
	margin-left:30px;
}
}





/* Portfolio Grid and Hover Effects */

.grid {
	padding: 20px 20px 100px 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: left;
}

.grid figure {
	margin: 0;
	position: relative;
	margin-top:20px;
}

.grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #000;
	color: #ed4e6e;
}

.grid figcaption h3 {
	font-size:18px;
	text-transform:uppercase;
	margin: 0;
	padding: 0;
	color: #fff;
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 0;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}


.cs-style-3 figure {
	overflow: hidden;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 80px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

/* Caption Style 2 */
.cs-style-2 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-2 figure:hover img,
.cs-style-2 figure.cs-hover img {
	-webkit-transform: translateY(-90px);
	-moz-transform: translateY(-90px);
	-ms-transform: translateY(-90px);
	transform: translateY(-90px);
}

.cs-style-2 figcaption {
	height: 90px;
	width: 100%;
	top: auto;
	bottom: 0;
}

.cs-style-2 figcaption a {
	position: absolute;
	right: 20px;
	top: 30px;
}
.social-icons{
	cursor: pointer;
}
.social-icons:hover{
	opacity: 0.5;
}
.form-line{
	margin-top:10px;
	color:white;
	text-align:left;
	background-color:rgba(0, 0, 0, 0);
	border-left:1px solid rgba(0, 0, 0, 0);
	border-top:1px solid rgba(0, 0, 0, 0);
	border-right:1px solid rgba(0, 0, 0, 0);
	border-bottom:3px solid white;
}
.form-line:hover{
	color:white;
	text-align:left;
	background-color:rgba(0, 0, 0, 0);
	border-left:1px solid rgba(0, 0, 0, 0);
	border-top:1px solid rgba(0, 0, 0, 0);
	border-right:1px solid rgba(0, 0, 0, 0);
	border-bottom:3px solid skyblue;
	cursor:pointer;
	outline:none
}
.form-line:active{
	color:white;
	text-align:left;
	background-color:rgba(0, 0, 0, 0);
	border-left:1px solid rgba(0, 0, 0, 0);
	border-top:1px solid rgba(0, 0, 0, 0);
	border-right:1px solid rgba(0, 0, 0, 0);
	border-bottom:3px solid skyblue;
	outline:none
}
.form-line:focus{
	color:white;
	text-align:left;
	background-color:rgba(0, 0, 0, 0);
	border-left:1px solid rgba(0, 0, 0, 0);
	border-top:1px solid rgba(0, 0, 0, 0);
	border-right:1px solid rgba(0, 0, 0, 0);
	border-bottom:3px solid skyblue;
	outline:none
}
.no-list{
	list-style: none;
}
.no-list li{
	display: inline-block;
}






