.yield-container{
    background-color: #FFFAFA;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    min-height: 550px!important;
    padding: 10px!important;
}
.pages-menu-control{
    float: right!important;
}
.btn-list{
    color:#000000;
    background-color: white;
    border: 1px solid transparent;
    text-align: center;
    /*font-weight: bold;*/
    font-size: 15px;
}
.btn-list:hover{
    background-color: #337ab7;
    color: #fff;
}

.btn-transparent{
    cursor: pointer;
}
.btn-transparent:hover{
    color: deepskyblue;
}

/*.dropdown-menu > li:hover{*/
    /*background-color: #337ab7!important;*/
    /*color: #fff!important;*/
/*}*/

.x-title{
    font-size: 18px;
    font-weight: bold;
}

.box-search{
    min-width: 100%;
}

.box-search tr{
    min-width: 100%;
    padding: 10px!important;
}

.box-search tr td{
    padding: 10px!important;
}

